
* {
    margin: 0; padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

h1 {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #999;
}

.table-condensed th,
.table-condensed td {
    padding: 2px 4px;
}
