
#modal .modal-dialog {
    width: 600px;
}

td.files a {
    display: inline-block;
    margin: 5px;
}



td.rooms {
    white-space: nowrap;
    text-align: center;
}

td.rooms a {
    display: inline-block;
    width: 40px;
    overflow: hidden;
}

td.rooms a img {
    display: block;
    margin: 0 auto;
}

td.rooms .offline a {
    opacity: 0.4;
}

td.rooms .offline a img {
    opacity: 0.2;
}
